<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CDStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/index.jsp</url-pattern>
      <url-pattern>/createaccount.jsp</url-pattern>
      <url-pattern>/view/*</url-pattern>
      <include-prelude>/jspf/header.jspf</include-prelude>
      <include-coda>/jspf/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
  <filter>
    <display-name>SessionFilter</display-name>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.cdstore.filter.SessionFilter</filter-class>
  </filter>

  <context-param>
    <description>VAT PERCENTILE</description>
    <param-name>tax</param-name>
    <param-value>0.13</param-value>
  </context-param>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/view/*</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>ControllerServellet</display-name>
    <servlet-name>SessionController</servlet-name>
    <servlet-class>com.cdstore.controller.SessionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionController</servlet-name>
    <url-pattern>/loginAction</url-pattern>
    <url-pattern>/viewCart</url-pattern>
    <url-pattern>/addToCart</url-pattern>
    <url-pattern>/clearCart</url-pattern>
    <url-pattern>/checkout</url-pattern>
    <url-pattern>/updateQuantity</url-pattern>
    <url-pattern>/confirmOrder</url-pattern>
    <url-pattern>/cancelOrder</url-pattern>
    <url-pattern>/viewCategory</url-pattern>
    <url-pattern>/createAccount</url-pattern>
    <url-pattern>/createAccountPage</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
</web-app>