<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DreamteamCDStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>/index.jsp</url-pattern>
      <url-pattern>/WEB-INF/view/*</url-pattern>
      <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
      <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>controller.ControllerServlet</servlet-class>
  </servlet>
  <context-param>
    <description>Relative Category Image Path</description>
    <param-name>categoryImagePath</param-name>
    <param-value>img/categories/</param-value>
  </context-param>
  <context-param>
    <description>Relative Product Path</description>
    <param-name>productImagePath</param-name>
    <param-value>img/products/</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ControllerServellet</display-name>
    <servlet-name>ControllerServellet</servlet-name>
    <servlet-class>controller.ControllerServellet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServellet</servlet-name>
    <url-pattern>/ControllerServellet</url-pattern>
    <url-pattern>/category</url-pattern>
    <url-pattern>/viewCart</url-pattern>
    <url-pattern>/addToCart</url-pattern>
    <url-pattern>/purchase</url-pattern>
  </servlet-mapping>
</web-app>